<div class="ema-cmp-login row">
    <h5 class="text-left">Login To Your Account :</h5>
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input class="form-control" type="text" placeholder="Username" data-ng-model="txtUsername">
    </div>
    <br/>
    <div class="input-group">
        <div class="input-group-addon"></div>
        <input class="form-control" type="password" placeholder="Password" data-ng-model="txtPassword">
    </div>
    <br/>
    <input class="form-control btn btn-info" type="submit" value="Login">
</div>